.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.base{
  margin: 12px;
  padding: 20px;
  border: 2px solid #000;
}

.ola1{
 color: #61da36fb;
 width: 1317px;
 background: pink;
 color: #FFF;
 border: 2px solid #000;
 text-shadow: 0.2em 0.5em 0.1em #600,
-0.3em 0.1em 0.1em #060,
0.4em -0.3em 0.1em #006,
0.2em -0.5em 0.1em #00FF00

}
.ola2{
  color: #000080;
  width: 1317px;
  text-transform: uppercase;
  outline-style: ridge;
  display: block;
  background-color: #666;
  border: solid 1px red;
 }
 .ola3{
  color: #4682B4;
  width: 1317px;
  background: yellow;
  transform: rotateY(1200deg) 2s;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  
 }
 .ola4{
color: black;
background: #61da36fb;
text-transform: lowercase;
width: 1317px;

 }
 .ola5{
  color: #808000;
  background: purple;
  width: 1317px;
  text-transform: capitalize;
 }
 .ola6{
  color: #00FF00;
  background: #8B0000;
  width: 1317px;
 }
 .ola7{
  color: #00FA9A;
  background: orange;
  width: 1317px;
  text-shadow: 0.2em 0.2em #333;

 }
 .ola8{
  color: #8B4513;
  background: green;
  width: 1317px;
  -webkit-transform: rotateX(10deg);
  transform: rotateX(14deg); 
  word-spacing: 4em;

 }
 .ola9{
  color: #8B0000;
  background: blue;
  width: 1317px;
  letter-spacing: 2em;
 }
 .ola10{
  color: #FF1493;
  background: purple;
  width: 1317px;
  background-color: yellow;
  border: 1px solid black;
 -webkit-transform: rotateX(150deg); 

 }